body {
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
    margin: 0;
    padding: 0;
    background-image: url('background');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
}

/* Favorites and Contact Page Styles */
#favorites-list ul {
    list-style-type: none;
    padding: 0;
}

#favorites-list li {
    background-color: #ff5c5c;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#favorites-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #ff5c5c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e14e4e;
}

/* HEADER */
header {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#genre-buttons, #artist-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: pink;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: pink;
}

#song-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-item {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.song-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}


.artist-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.artist-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer {
  background-color: pink;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  
}
